@import "../../../projeto-site-Allin/recursos/css/reset/reset.css";
@import "../../../projeto-site-Allin/recursos/css/reset/header.css";
@import "../../../projeto-site-Allin/recursos/css/main.css";
@import "../../../projeto-site-Allin/recursos/css/reset/footer.css";

header.conteudo{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    background-color: white;
}