@import 'paginas/home.css';
@import 'reset/header.css';
@import 'reset/footer.css';
@import 'reset/reset.css';

header.conteudo{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    background-color: white;
}